Variáveis em Python

In [ ]:
# Atribuindo o valor 1 à variável var_teste

var_teste = 1

In [ ]:
# Imprimindo o valor da variável

var_teste

In [ ]:
# Imprimindo o valor da variável (utilizando print)

print(var_teste)

Declaração Múltipla

In [ ]:
pessoa1, pessoa2, pessoa3, pessoa4 = "Carlos", "Vitor", "Mayra", "Ludmilla"

In [ ]:
pessoa1

In [ ]:
pessoa2

In [ ]:
pessoa3

In [ ]:
pessoa4

Operações com variáveis

In [53]:
idade1 = 22

In [54]:
idade2 = 30

In [65]:
var = idade1 * idade2

Concatenar Variáveis

In [69]:
nome = "Carlos"

In [70]:
sobrenome = "Daniel"

In [76]:
nomecompleto = "Carlos" + " " + "Daniel"

In [77]:
nomecompleto

'Carlos Daniel'